<!DOCTYPE html>

<html>
<head>
    <title>softservedigital.co.za</title>
    <link rel="stylesheet" href="~/content/Default.css" type="text/css" />
</head>

<body>

    <h1 style="width:auto; text-align:center; color:white; background-color:red; font-family:cursive">Softserve Digital Development</h1>
    @RenderBody()
</body>

</html>